<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Converter</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>

    <div class="header">
        <h1>Convert currencies</h1>
    </div>

    <form action="/convert" class="inputField" method="post">
        <div>
            <!-- Already setted value so when reloading page, the value remains -->
            <input type="number" min="1" name="imputFrom" value="{{.InputFrom}}">
        </div>

        <div>
            <label>From</label>
            <select name="currencyFrom" id="currencyFrom">
                <!-- Same thing as input field. If received currency equals one of this, it is getting selected -->
                <option value="USD" {{if eq .CurrencyFrom `USD` }} selected{{end}}>Dollars USA</option>
                <option value="RUB" {{if eq .CurrencyFrom `RUB` }} selected{{end}}>Rubles Russia</option>
                <option value="EUR" {{if eq .CurrencyFrom `EUR` }} selected{{end}}>Euro Europe</option>
            </select>
        </div>

        <div>
            <label>To</label>
            <select name="currencyTo" id="currencyTo">
                <option value="EUR" {{if eq .CurrencyTo `EUR`}} selected{{end}}>Euro Europe</option>
                <option value="USD" {{if eq .CurrencyTo `USD`}} selected{{end}}>Dollars USA</option>
                <option value="RUB" {{if eq .CurrencyTo `RUB`}} selected{{end}}>Rubles Russia</option>
            </select>
        </div>

        <button type="submit">Calculate</button>
    </form>

    <!-- If .Value is not null -->
    {{if .Value}}
        <div class="outputField">
            {{.InputFrom}} {{.CurrencyFrom}} to {{.CurrencyTo}}= {{.Value}} {{.Currency}}
        </div>
    {{end}}

</body>
</html>